.friend_list {
margin-right: auto;
margin-left: auto;
display: flex;
width: 300px;
flex-direction: column;
gap: 10px;
padding: 0;
}
.item {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid gray;
    box-shadow: 10px 5px 5px gray;

}
.status {
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 40px;

}
.online {
    background-color: green;
}
.avatar {
    border: 1px solid grey;
    padding: 10px;
    border-radius: 10px;


}
.name {

}